/*
 * Estilos de tu proyecto
 */
nav{
   width: 100%;
   height: 100px;
   background: #2C3E50;
   padding:  25px 25px 25px 25px;

 }
 /*.div-navegador-principal{
   display: inline-block;
   margin-top: 8px;
 }
 .div-navegador-principal a{
   font-size: 30px;
   font-family: Arial;
   color: white;
   text-decoration: none;
   text-decoration: none;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
 }*/
 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 .container{
   width: 100%;
   max-width: 1200px;
   margin: 0px auto;
 }
 .row::before, .row::after{
   content: " ";
   display: table;
 }
 .row::after{
   clear: both;
 }
 [class*="col-"]{
   min-height: 7px;
   padding: 12px;
   float: left;
 }
 .col-1{
   width: 8.333333%;
   height: 50px;
   /*border: 1px solid white;*/
 }
 .col-2{
   width: 16.666667%;
 }
 .col-3{
   width: 25%;

 }
 .col-4{
   width: 33.333333%;
   height: 50px;
   /*border: 1px solid white;*/
 }
 .col-5{
   width: 41.666667%;
 }
 .col-6{
   width: 50%;
 }
 .col-7{
   width: 58.3333333%;
 }
 .col-8{
   width: 66.6666667%;
 }
 .col-9{
   width: 75%;
 }
 .col-10{
   width: 83.33%;
 }
 .col-11{
   width: 91.6666667%;
 }
 .col-12{
   width: 100%;
 }
#portfolio{
  margin-left: 500px;
}
#portfolio a{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  font-weight: 900;
  text-decoration: none;
  font-size: 13px;
  margin-left: -6px;
  margin-top: 4px;
  position: absolute;
}
#portfolio a:hover{
  color: #18BC9C;
}
#about a{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  font-weight: 900;
  text-decoration: none;
  font-size: 13px;
  margin-left: 12px;
  margin-top: 4px;
  position: absolute;
}
#about a:hover{
  color: #18BC9C;
}
#contact a{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  font-weight: 900;
  text-decoration: none;
  font-size: 13px;
  margin-top: 4px;
  position: absolute;
}
#contact a:hover{
  color: #18BC9C;
}
/* CREANDO SECCION UNO */
#section-uno{
  background: #18BC9C;
  height: 620px;
}
#navegador-principal a{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 27px;
  margin-left: 63px;
}
.contenedor-secion-uno{
  text-align: center;
}
.contenedor-secion-uno img{
      margin-top: 100px;
}
.contenedor-secion-uno .titulo{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 73px;
}
.contenedor-secion-uno .parrafo{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  text-decoration: none;
  font-size: 26px;
}
.contenedor-secion-uno .guion{
  width: 137px;
  height: 5px;
  background: white;
  display: inline-block;
  margin-left: 36px;
  margin-top: 27px;
  margin-bottom: 30px;
}
/* CREANDO SECCION DOS */
#section-dos{
  background: white;
  height: 850px;
}
#section-dos .container .col-4, #section-dos .container .col-2{
  height: 300px;
}
#section-dos img{
  width: 370px;
  height: 270px;
}
#section-dos #titulo-portfolio{
  height: 150px;
  margin-left: 395px
}
#section-dos .guion{
  width: 137px;
  height: 5px;
  background: #2C3E50;
  display: inline-block;
  margin-left: 36px;
  margin-top: 27px;
  margin-bottom: 30px;
}
.letra{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  font-size: 42px;
  margin-left: 70px;
  margin-top: 37px;
}
/* CREANDO SECCION TRES */
#section-tres{
  background: #18BC9C;
  height: 530px;
}
#section-tres #titulo-portfolio{
  height: 150px;
  margin-left: 395px;
  margin-top: 50px;
}
#section-tres .guion{
  width: 137px;
  height: 5px;
  background: #fff;
  display: inline-block;
  margin-left: 35px;
}
#section-tres .letra{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 42px;
  margin-left: 108px;
}
#section-tres #parrafo-uno{
  height: 170px;
  margin-left: 195px;
}
#section-tres #parrafo-uno p{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 20px;
}
#section-tres #parrafo-dos{
  height: 170px;
  margin-left: 15px;
  padding-top: 10px;
}
#section-tres #parrafo-dos p{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 20px;
}
#section-tres #download{
  margin-left: 499px;
  margin-top: 10px;
  height: 50px;
  border: 2px solid white;
  border-radius: 9px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 17px;
  padding-left: 45px;
  cursor: pointer;
}
#section-tres #download:hover{
  background: white;
  color: #18BC9C;
}
/* CREANDO SECCION CONTACTANOS */
#section-cuatro{
  background: white;
  height: 750px;
}
#section-cuatro .container .col-4{
  height: 150px;
}
#section-cuatro #titulo-contact{
  margin-left: 395px;
}
#section-cuatro .guion{
  width: 137px;
  height: 5px;
  background: #2C3E50;
  display: inline-block;
  margin-left: 35px;
}
#section-cuatro .letra{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  font-weight: 700;
  font-size: 42px;
  margin-left: 54px;
}
#section-cuatro .container .col-7{
  height: 550px;

}
#section-cuatro #form{
  margin-left: 250px;
  color:#555;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border-top: 1px solid #eee;
}
#section-cuatro #form input[type=text] {
    border: none;
    border-bottom: 1px solid #eee;
    outline: 0;
    width: 100%;
    height: 90px;
    display: inline-block;
    outline: 0;
      font-size: 20px;
}
#form textarea{
  border: none;
  height: 200px;
  width: 100%;
  border-bottom: 1px solid #eee;
  outline: 0;
  padding-top: 40px;
  font-size: 20px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#section-cuatro #form input[type=submit]{
  width: 10%;
  padding: 10px;
  background:  #18BC9C;
  border:  #18BC9C;
  border-radius: 6px;
  cursor: pointer;
  outline: 0;
  font-size: 18px;
  color: white;
}
